<%= render :super %>

<script>
	$(function() {
		$( "#tabs" ).tabs();
	});
</script>

<br />
<br />
<br />

<div>
	
	<div id="tabs">
		<ul>
			<li><a href="#tabs-1">Addresses</a></li>
			<li><a href="#tabs-2">Emails</a></li>
		</ul>
	
		<div id="tabs-1">
			<%= render  :active_scaffold => "player_addresses",  :constraints => { :player_id => @record.id } -%>	
		</div>
		<div id="tabs-2">
			<%= render  :active_scaffold => "player_emails",  :constraints => { :player_id => @record.id } -%>	
		</div>
	</div>
	
</div>
